/Xamarin.CircleImageCropper/Xamarin.CircleImageCropper/obj
/Xamarin.CircleImageCropper/Xamarin.CircleImageCropperSample/obj
/Xamarin.CircleImageCropper/Xamarin.CircleImageCropper/bin

Xamarin.CircleImageCropper/Xamarin.CircleImageCropper.v12.suo
/Xamarin.CircleImageCropper/CircleImageCropper/bin
/Xamarin.CircleImageCropper/CircleImageCropper/obj
/Xamarin.CircleImageCropper/Xamarin.CircleImageCropperSample/bin
